*{
    margin:0;
    padding:0;
    font-family: 'Luckiest Guy', cursive;
}

/*HEADER SECTION*/

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(Images/Header.png);
    background-position: center;
    background-size: cover;
    position: relative;
 }

 nav{
     display: flex;
     padding: 2%;
     justify-content: space-between;
     align-items: center;
 }

 nav img{
     width: 150px;
 }

 .nav-links{
    flex: 1;
    text-align: right;
 }

 .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 }

 .nav-links ul li a{
     color: crimson;
     text-decoration: darkred;
     font-size: 20px;
 }

 .nav-links ul li::after{
     content:'';
     width: 0%;
     height: 2px;
     background: firebrick;
     display: block;
     margin: auto;
     transition: 0.7s;
 }

 .nav-links ul li:hover::after{
     width: 100%;
 }

 .text-box{
     width: 90%;
     color: firebrick;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 .text-box h1{
    font-size: 40px;
 }

 .hero-btn{
     display: inline-block;
     text-decoration: none;
     color: firebrick;
     border: 4px solid darkred;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
 }

 .hero-btn:hover{
     border: 4px solid darkred;
     background: darkred;
     transition: 0.7s;
 }

nav .fa{
    display: none;
}

 @media(max-width: 700px){
     .text-box h1{
        font-size: 20px;
     }

     .nav-links ul li{
         display: block;
     }

     .nav-links{
         position: absolute;
         background: dimgrey;
         height: 100vh;
         width: 200px;
         top: 0;
         right: -200px;
         text-align: left;
         z-index: 2;
         transition: 1s;

     }
     nav .fa{
         display: block;
         color: black;
         margin: 10px;
         font-size: 22px;
         cursor: pointer;
     }

     .nav-links ul{
         padding: 15px;
     }
 }


/*Test SECTION*/

 .test{
     background-color: rgb(0, 0, 32);
    min-height: 80vh;
     width: 100%;
     margin: auto;
     text-align: center;
     padding-top: 100px;
     position: relative;
 }

 h1{
     font-size: 36px;
     font-weight: 600;
     color: darkred;
 }
 p{
     color: red;
     font-size: 14px;
     font-weight: 300;
     line-height: 22px;
     padding: 10px;
 }

test.correct{
    --hue:var(--hue-correct)
}
test.wrong{
    --hue:var(--hue-wrong)
}
 .container{
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
     width: 800px;
     max-width: 80%;
     background-color: black;
     border-radius: 5px;
     padding: 10px;
     box-shadow: 0 0 10px 2px;
 }

 .que{
     color: darkred;
 }

 .score{
    color: darkred;
    margin: 0 auto;
 }
 .btn-grid{
     display: grid;
     grid-template-columns: repeat(2, auto);
     gap: 10px;
     margin: 20px 0;
 }

 .btn{
     border: 1px solid darkred;
     background-color: rgb(28, 0, 44);
     border-radius: 5px;
     padding: 5px 10px;
     color: darkred;
     outline: none;
     cursor: pointer;
 }

 .btn:hover{
     border-color: darkred;
 }

 .start-btn, 
 .next-btn{
     font-size: 20px;
     font-weight: bold;
     padding: 10px 20px;
     cursor: pointer;
 }

 .controls{
     display: inline-block;
     justify-content: center;
     align-items: center;
 }

 .hide{
     display: none;
 }




/*ABOUT SECTION*/


 .about{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(Images/Test.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }

 .aboutHeader{
    padding: 12px 34px;
    border: 4px solid darkred;
    display: inline-block;
    text-decoration: none;
 }

 h3{
     text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: darkred;
    margin: 10px 0;
 }

 .row{
     margin-left: 15%;
     margin-right: 15%;
     margin-top: 5%;
     display: flex;
     justify-content: space-between;
 }

 .about-col{
     background-color: rgba(95, 0, 139, 0.226);
     flex-basis: 31%;
     border-radius: 10px;
     margin-bottom: 5%;
     padding: 20px 15px;
     box-sizing: border-box;
 }

 @media(max-width: 700px){
     .row{
         flex-direction: column;
     }
 }

 .tournaments{
    background-color: rgb(0, 0, 32);
     width: 100%;
     margin: auto;
     text-align: center;
     padding-top: 100px;
     position: relative;
 }

 .tourFrame{
     margin-bottom: 5%;
     padding: 12px 34px;
     border: 4px solid darkred;
     display: inline-block;
     text-decoration: none;
 }

 /*FEEDBACK*/

 .feedback{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(Images/feeedback.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }

 .feedbackHeader{
    padding: 12px 34px;
    border: 4px solid darkred;
    display: inline-block;
    text-decoration: none;
 }

 .back-col{
     background-color: rgb(0, 0, 32);
    border: 4px solid darkred;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
 }

 @media(max-width: 700px){
     h3{
        font-size: 20px;
     }
     .back-col{
        flex-direction: column;
     }
    .back-col img{
        max-width: 100%;
        min-width: 300px;
        height: auto;
    }
 }

 /*FOOTER*/

 .footer{
     background-color: rgb(0, 0, 32);
     width: 100%;
     text-align: center;
     padding: 30px 0;
 }
 .footer h3{
     font-size: 25px;
     color: darkred;
     margin-bottom: 25px;
     margin-top: 20px;
     font-weight: 600;
 }
